.mobile {
  display: none;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 10px;
}

.leftBar_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightBar_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search_container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(197, 197, 197);
  padding: 2px 10px;
  border-radius: 20px;
}
.search_container input {
  border: none;
  outline: none;
}
.cart_container {
  display: flex;
  align-items: center;
  position: relative;
}
.cart_container p {
  position: absolute;
  top: -4px;
  left: -2px;
  font-size: 10px;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.menu_items {
  opacity: 0.6;
  border-bottom: 1px solid transparent;
  font-family: var(--font-poppins);
}
.menu_items:hover {
  opacity: 1;
  border-bottom: 2px solid red;
  color: red;
}

.active {
  border-bottom: 2px solid red;
  color: red;
  font-weight: 600;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .navbar_container {
    display: none;
  }

  .mobile {
    display: block;
    padding: 10px;
  }

  .leftBar_container {
    gap: 5px;
  }
  .nav_logo {
    width: 30px;
  }
  .logo_text {
    font-size: 14px;
  }
  .navbar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile_navs {
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: #fff;
  }

  .menu_items {
    font-size: 20px;
  }
}
